DB_TYPE=postgres

PORT=3001
DATABASE_URL=postgres://postgres:postgres@localhost:5435/hexagonal_demo
MONGODB_URL=mongodb://mongo:mongo@localhost:27017/hexagonal_demo?authSource=admin

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hexagonal_demo

MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=mongo
MONGO_INITDB_DATABASE=hexagonal_demo